spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: EzPay  # 애플리케이션 이름
#  config:
#    import: optional:file:.env  # 환경변수 파일(.env) 불러오기

  datasource:
#    url: ${SPRING_DATASOURCE_URL}
#    username: ${SPRING_DATASOURCE_USERNAME}
#    password: ${SPRING_DATASOURCE_PASSWORD}
    url: jdbc:postgresql://host.docker.internal:5432/postgres
    username: postgres
    password: syj30408!!
    driver-class-name: org.postgresql.Driver  # PostgreSQL 드라이버 설정
    hikari:
      maximum-pool-size: 10  # 커넥션 풀 최대 크기
      connection-timeout: 30000  # 커넥션 타임아웃 30초

  task:
    execution:
      pool:
        core-size: 10  # 기본 스레드 수
        max-size: 100  # 최대 스레드 수
        queue-capacity: 500  # 대기 큐 사이즈
  jackson:
    time-zone: Asia/Seoul
    serialization:
      write-dates-as-timestamps: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect  # DB 방언 설정 (PostgreSQL)
    hibernate:
      ddl-auto: update  # 서버 시작 시 엔티티 기준으로 DB 스키마 자동 업데이트 (컬럼 추가 가능)
    show-sql: true  # 실행되는 SQL 콘솔 출력
    properties:
      hibernate:
        format_sql: true  # SQL 이쁘게 포맷팅
        jdbc:
          time_zone: Asia/Seoul  # DB 타임존 한국 시간으로 설정
    defer-datasource-initialization: true  # JPA 초기화 후 data.sql 실행

  sql:
    init:
      mode: always  # data.sql 항상 실행

  kafka:
    bootstrap-servers: kafka:9092  # Kafka 서버 연결 주소

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG  # 하이버네이트 SQL 로그 레벨
        type:
          descriptor:
            sql:
              BasicBinder: TRACE  # 바인딩 값 출력
      springframework:
        security: DEBUG  # Spring Security 디버그 레벨


# SMTP
    implementation 'org.springframework.boot:spring-boot-starter-mail'
}

ezpay:
  internal-api:
    secret-key: "a7b7b1b1-1c1c-4d4d-8e8e-1f1f1f1f1f1f"

tasks.named('bootBuildImage') {
    builder = 'paketobuildpacks/builder-jammy-base:latest'
}